button-style($base-color, $font-color)
  $border-color = $base-color
  border: 4px solid transparent
  

  color: $font-color
  //text-shadow: 0 1px 1px rgba($font-color - #f0f0f0, 0.2)
  background: $base-color
  //background: linear-gradient(top, $base-color, $base-color - #111)
  //border-color: $border-color
  //border-color: rgba($border-color, 0.9) rgba($border-color,0.9) $border-color

  &:hover, &:focus, &.disabled
    color: #333
    background-color: #d94738
    border-bottom: 4px solid #d94738
 
  &:active, &.active
    margin-top: 4px
    padding-bottom: 0px
    border-bottom: 4px solid transparent
    background-color: $base-color
    background: $base-color

  &:hover, &:focus
    color: $font-color + #101010
    text-decoration: none
    background: $base-color

  &:disabled, &.disabled
    opacity: 0.5

minimal( $bordercolor )
  border: 1px solid $bordercolor
  color: $bordercolor
  background: transparent
  padding: 7px 12px
  &:hover, &:focus, &.disabled
    color: darken($bordercolor, 0.1)
    background: rgba($white, 0.1)



.btn
  display: inline-block
  box-sizing: border-box
  padding: 4px 12px
  margin-bottom: 0
  font-size: 14px
  line-height: 2.2
  text-align: center
  vertical-align: middle
  cursor: pointer
  text-transform: uppercase
  border-radius: 4px
  font-weight: 300
  margin: 0 10px 0 0

  &, &:hover
    text-decoration: none

  &:active, &:focus
    outline: none

.btn--primary
  button-style(#e74c3c, $white)
.btn--secondary
  minimal($gray)
