!!! 5
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content ="IE=edge,chrome=1")
		title Jordan Fine
		meta(name="viewport", content="width=device-width")
		script(type='text/javascript' ,src="http://code.jquery.com/jquery.js")
		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
		link(href='public/css/portfolio.css',rel="stylesheet", media="screen")


	body
		section.l-splash
			.wrapper
				.l-splash--nav
					.brand
						h1 Jordan Fine
					.nav
						ul
							li
								a#header-about(href="#") About
							li 
								a#header-portfolio(href="#") Portfolio
							li 
								a#header-resume(href="#") Resume
							li 
								a#header-connect(href="#") Connect
				.l-splash--tagline
					.profile
						.profile--image
							span Hello Pug!
					.tagline
						h1 I'm a front end web developer with a passion for design.
						button#learn-more.btn.btn--primary Learn More
		section.l-about
			.wrapper
				.l-about--someimage
				.l-about--copy
					h1 About me
					p Hey! My name is Jordan Fine. I’m currently going into my fourth year at the University of Florida, studying Digital Arts &amp; Sciences Engineering with a minor in Mass Communications. 
					p Beyond my engineering curriculum, you’ll find me designing marketing materials for Reitz Union Board Entertainment. As Lead Marketing Designer, I create fliers and videos for the student run entertainment board that plans free events 7 days a week. Check us out! 
					p When I’m not fiddling around with Illustrator and coding, I like to enjoy a nice cup of coffee and a movie. Around Gainesville, you’ll find me searching for that perfect slice of pizza, hanging out at cafes, catching a show at the Atlantic or enjoying a new, arthouse film at the Hippodrome Theatre.
					p After college, I hope to build off my experiences and passions as a Front End Developer in the tech industry.
					p I'd love to chat!

		section.l-portfolio
			.wrapper
				.l-portfolio--copy
					h1 Portfolio 
						span /Gather
					p Hey! My name is Jordan Fine. I’m currently going into my fourth year at the University of Florida, studying Digital Arts &amp; Sciences Engineering with a minor in Mass Communications. 
					p Beyond my engineering curriculum, you’ll find me designing marketing materials for Reitz Union Board Entertainment. As Lead Marketing Designer, I create fliers and videos for the student run entertainment board that plans free events 7 days a week. Check us out! 
					p When I’m not fiddling around with Illustrator and coding, I like to enjoy a nice cup of coffee and a movie. Around Gainesville, you’ll find me searching for that perfect slice of pizza, hanging out at cafes, catching a show at the Atlantic or enjoying a new, arthouse film at the Hippodrome Theatre.
					p After college, I hope to build off my experiences and passions as a Front End Developer in the tech industry.
					p I'd love to chat!
				.l-portfolio--someimage
					.image-container
						.image
							img(src="public/img/computer.png")
		section.l-resume
			.wrapper
		section.l-connect
			.wrapper

		script(type='text/javascript', src="public/vendor/v2.0.4/backstretch.js")
		script(type='text/javascript', src="public/js/portfolio.js")
