!!! 5
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content ="IE=edge,chrome=1")
		title Jordan Fine
		meta(name="viewport", content="width=device-width")
		script(type='text/javascript' ,src="http://code.jquery.com/jquery.js")
		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
		link(href='public/css/portfolio.css',rel="stylesheet", media="screen")


	body
		span.l-top.hide
			i.icon-arrow-up
		section#splash
			.l-splash
				.wrapper
					.l-splash--nav
						.brand
							h1 Jordan Fine
						.nav
							ul
								li
									a#header-about(href="#") About
								li 
									a#header-portfolio(href="#") Portfolio
								li 
									a#header-resume(href="#") R&eacute;sum&eacute;
								li 
									a#header-connect(href="#") Connect
					.l-splash--tagline
						.profile
							.profile--image
						.tagline
							h1 I'm a front end web developer with a passion for design.
							button#learn-more.btn.btn--primary Learn More
		section#about
			.l-about
				.wrapper
					.l-about--someimage
						.image
							img(src="public/img/illo.png")
					.l-about--copy
						h1 About me
						p Hey! My name is Jordan Fine. I’m currently in my fourth year at the University of Florida, studying Computer Science Engineering, with a focus in Digital Arts &amp; Sciences, and a minor in Mass Communications. My interests are in Human-Computer Interaction, Graphic Design, and Web Development. 
						p Beyond my engineering curriculum, you’ll find me designing marketing materials for Reitz Union Board Entertainment. As Lead Marketing Designer, I create fliers and videos for the student run entertainment board. 
						p When I’m not fiddling around with Illustrator or coding, I like to enjoy a nice cup of coffee and binge watch Netflix and/or Hulu (I’m currently really digging the Google Chromecast). Around Gainesville, you’ll find me searching for that perfect slice of pizza, hanging out at cafes with friends, grabbing a beer, exploring Paynes Prairie, catching a concert, and more. 
						p After college, I aspire to be a Front End Web Developer and UX master in the tech industry. I’d love to chat about professional opportunities or if you’d like to grab a beer. 

		section#portfolio
			.l-portfolio
				.wrapper
					.l-portfolio--title
						h1 Portfolio
					//TODO - CLEAN UP AND EDIT COPY
					.l-portfolio--media
						.l-portfolio--right
							h1  
								span Gather
							p Gather is an online marketplace for casual and professional event planners alike to discover, vet and book hundreds of restaurants and event venues for large group events and private dining. I started working at Gather at the start of the design process of the marketplace application. Over the summer, I worked with the CTO and CEO to build out the marketplace from mockup to prototype to shipment. We built the app using Node.JS, Express, AngularJS, Jade, Stylus, Coffeescript, to name a few.
							p Beyond front-end development, I helped shape the design of Gather Marketplace by creating mockups, illustrations, email templates and redesigns for the existing restaurant software. I returned to Gather to continue my work on the marketplace in October. 
							a.btn.btn--primary(href="http://www.gatherhere.com", target="_blank") Visit Gather
						.l-portfolio--rightimage
							.image
								img(src="public/img/gather-transaction.png")
					.l-portfolio--media
						.l-portfolio--leftimage
							.image
								img(src="public/img/mapflix.png")
						.l-portfolio--left
							h1  
								span MapFlix
							p MapFlix was my semester-long project from a Human Computer Interaction course. MapFlix is an application to help foreign film enthusiasts browse for films based off location using geographical visualization (Google Maps) versus the existing method used in Netflix. Throughout the semester, I identified a problem, interviewed potential clients of the proposed application, conducted focus groups, built the application and ran a pilot test study. After all the data was collected, I wrote user evaluations and analysed the data. 
							p Though MapFlix wasn’t favored over Netflix, most users claimed they were moderately satisfied with the experience of Netflix. This gives room for designers to experiment with Netflix’s UX. The application was built using Google Maps and Freebase API. 
							a.btn.btn--secondary(href="public/files/jordanfine.ppt", target="_top") View Final Presentation
					.l-portfolio--media
						.l-portfolio--right
							h1  
								span Clue
							p Clue was my final project for Interactive Modeling &amp; Animation. During this course, I was exposed to the language, Processing, which is often called the programming language for artists. Throughout the semester, we created little pieces dealing with motion, shapes, color and physics-motion. I designed the scenes, weapons, and characters using Photoshop. 
							a.btn.btn--primary(href="https://github.com/jordanfine/clue", target="_top") View on Github
							a.btn.btn--secondary(href="public/files/manual.pdf", target="_top") View User Manual
						.l-portfolio--rightimage
							.image
								img(src="public/img/clue.png")
					.l-portfolio--media
						.l-portfolio--leftimage
							.image
								img(src="public/img/da.png")
						.l-portfolio--left
							h1  
								span Damage Assessment Portal
							p Damage Assessment Portal is an application for UF Admin to report any physical damages to its facilities during traumatic events. With the application, the University of Florida can keep a record of all damages for FEMA or any other appropriate government agency. One feature of the the application is the ability to view all of the damages on a map. For example, if a tornado blew across the north side of campus, we could visualize the damages and overlay it with the tornado's path. Before coding the application, I designed the UI in Photoshop. We built this application using PHP, Javascript and Twitter Bootstrap. 
					.l-portfolio--media
						.l-portfolio--right
							h1  
								span Fruitvale Station
							p This flier was designed for RUB Entertainment’s November Indie film, to be distributed across downtown Gainesville and on-campus. The flier’s design mirror’s a minimal representation of the BART rail system. After visiting the Bay Area over the summer and seeing the film, I was fascinated by the simplicity of the rails. I feel the simplicity of these rails juxtaposing the chaotic city reflects on the events that happened in Fruitvale Station -- a simple man trying to make his life better amongst the chaos of his past life. I’ll try not to spoil the movie; go see it! 
							a.btn.btn--primary(href="https://www.facebook.com/rubentertainment", target="_top") Follow RUB Entertainment
						.l-portfolio--rightimage
							.image
								img(src="public/img/fruitvale.png")
					.l-portfolio--media
						.l-portfolio--center
							h1 RUB Promotional Video Montage
							p Back in 2012, I set out to modify and change the dynamics of RUB Entertainment’s graphic design operation. Over my four years in RUB, I’ve helped transform its branding and marketing. 
							p During my freshman year, I became the main graphic designer for the Special Events committee and created fliers for monthly events. I noticed a major issue: Each committee had its own graphic designer creating different designs and nothing was consistent. 
							p As Director of the Arts committee, I planned gallery openings and art-related events -- such as bringing Anthony Rapp from the broadway musical Rent. As director, I formed a group of designers to handle all of RUB’s graphics. Eventually, we created a Marketing Designer position. As a result, RUB as a brand is more cohesive and communication with directors who plan events has improved. 
							p This video is an example of an idea I brought to the organization. This video played before every film at the Reitz Union Cinema and through online social-media during the month of September. 
							iframe(width="640", height="480", src="//www.youtube.com/embed/37PSX0UCOUM?rel=0", frameborder="0", allowfullscreen)
		
		section#resume
			.l-resume
				.wrapper
					.l-resume--title-bar
						.l-resume--title
							h1 R&eacute;sum&eacute; 
						.l-resume--download
							a.btn.btn--primary(href="public/files/resume_jordanfine.pdf", target="_blank")
								i.icon-download 
								| Download
					.l-resume--column
						.l-resume--education
							h1 Education
							h4
								span.major BS in Computer Science Engineering 
								br
								span.focus with a focus in Digital Arts &amp; Sciences  
								br
								span.minor Minor in Mass Communications
								br
								|	University of Florida | Gainesville, FL
								br
								|	2010 - Present
						.l-resume--tech
							h1 Tech &amp; Product Experience
							h4
								span.company Gather 
								span.location - Atlanta, GA
								br
								span.job Front End Web Developer &amp; Designer
								br
								|	May 2013 - August 2013, October 2013 - Present
							h4
								span.company TapShield 
								span.location - Gainesville, FL
								br
								span.job Front End Web Developer
								br
								|	August 2013 - October 2013
							h4
								span.company Department of Facilites Planning &amp; Construction 
								span.location - Gainesville, FL
								br
								span.job Web Developer &amp; Designer
								br
								|	November 2012 - May 2013
							h4
								span.company SpareFoot
								span.location - Austin, TX
								br
								span.job Web Developer &amp; Designer
								br
								|	May 2012 - August 2012
						.l-resume--design
							h1 Design Experience
							h4
								span Lead Marketing Designer
								br
								|	RUB Entertainment | Gainesville, FL
								br
								|	May 2013 - Present
							h4
								span Graphic Designer for Special Events Committee
								br
								|	RUB Entertainment | Gainesville, FL
								br
								|	August 2011 - May 2012
					.l-resume--column
						.l-resume--leadership
							h1 Leadership Experience
							h4
								span Director of Arts Committee
								br
								|	RUB Entertainment | Gainesville, FL
								br
								|	May 2012 - May 2013
							h4
								span Residential Counselor 
								br
								|	Duke TIP Summer Studies Program | Boone, NC
								br
								|	June 2011 - August 2011
						.l-resume--skills
							h1 Skills
							h3 Languages &amp; Tools
							p.
								HTML5, CSS3, Javascript/Coffeescript, jQuery, AngularJs, Jade/HAML, Stylus/LESS/SASS, Grunt, RequireJS, Java, Git, MATLAB, Processing, Windows, Mac OS X, Linux
							h3 UX &amp; Design
							p.
								Balsamiq Wireframes, Pilot Testing, User Studies, Interface Design, User Research, Photoshop, Illustrator, Fireworks, InDesign, Premiere Pro, Maya
							h3 Other
							p.
								Trumpet, Event Planning, Social Media, Digital &amp; Film Photography

								
		section#connect
			.l-connect
				.wrapper
					.l-connect--title
						h1 Let's Connect!
					.l-connect--links
						ul
							li
								a(href="http://www.twitter.com/jordanfine", target="_blank")
									i.icon-twitter
							li
								a(href="http://www.facebook.com/jordanfine6", target="_blank")
									i.icon-facebook
							li
								a(href="http://plus.google.com/111254828812712058992", target="_blank")
									i.icon-google-plus
							li
								a(href="http://www.linkedin.com/in/jordanfine", target="_blank")
									i.icon-linkedin
							li
								a(href="http://github.com/jordanfine", target="_blank")
									i.icon-github
							li
								a(href="http://www.last.fm/user/jordanspudfine", target="_blank")
									i.icon-lastfm
							li
								a(href="http://foursquare.com/jordanfine", target="_blank")
									i.icon-foursquare
							li
								a(href="mailto:jordan6fine@gmail.com?subject=Hey Jordan&body=Cool website!")
									i.icon-mail
		footer
			.footer-container
				.wrapper
					.footer-madein
						h3
							|  Made with  
							i.icon-heart
							|	in the USA
					.footer-brand
						h3 Jordan Fine, 2013
		//-TRACKIN YO ASS-//
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42843616-1', 'jordanfine.github.io');
			ga('send', 'pageview');
		script(type='text/javascript', src="public/vendor/v2.0.4/backstretch.js")
		script(type='text/javascript', src="public/js/portfolio.js")
