!!! 5
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content ="IE=edge,chrome=1")
		title Jordan Fine
		meta(name="viewport", content="width=device-width")
		script(type='text/javascript' ,src="http://code.jquery.com/jquery.js")
		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
		link(href='public/css/portfolio.css',rel="stylesheet", media="screen")


	body
		span.l-top.hide
			i.icon-arrow-up
		section.l-splash
			.wrapper
				.l-splash--nav
					.brand
						h1 Jordan Fine
					.nav
						ul
							li
								a#header-about(href="#") About
							li 
								a#header-portfolio(href="#") Portfolio
							li 
								a#header-resume(href="#") R&eacute;sum&eacute;
							li 
								a#header-connect(href="#") Connect
				.l-splash--tagline
					.profile
						.profile--image
					.tagline
						h1 I'm a front end web developer with a passion for design.
						button#learn-more.btn.btn--primary Learn More
		section.l-about
			.wrapper
				.l-about--someimage
				.l-about--copy
					h1 About me
					p Hey! My name is Jordan Fine. I’m currently going into my fourth year at the University of Florida, studying Digital Arts &amp; Sciences Engineering with a minor in Mass Communications. 
					p Beyond my engineering curriculum, you’ll find me designing marketing materials for Reitz Union Board Entertainment. As Lead Marketing Designer, I create fliers and videos for the student run entertainment board that plans free events 7 days a week. Check us out! 
					p When I’m not fiddling around with Illustrator and coding, I like to enjoy a nice cup of coffee and a movie. Around Gainesville, you’ll find me searching for that perfect slice of pizza, hanging out at cafes, catching a show at the Atlantic or enjoying a new, arthouse film at the Hippodrome Theatre.
					p After college, I hope to build off my experiences and passions as a Front End Developer in the tech industry.
					p I'd love to chat!

		section.l-portfolio
			.wrapper
				.l-portfolio--title
					h1 Portfolio
				.l-portfolio--gather
					h1  
						span Gather
					p As Front End Developer at Gather, I worked on the full process of mockup to implementation. 
					button.btn.btn--primary Learn More
				.l-portfolio--gatherimage
					.image
						img(src="public/img/computer.png")
				.l-portfolio--hciimage
					.image
						img(src="public/img/computer.png")
				.l-portfolio--hci
					h1  
						span MapFlix
					p Hey! My name is Jordan Fine. I’m currently going into my fourth year at the University of Florida, studying Digital Arts &amp; Sciences Engineering with a minor in Mass Communications. 
					p Beyond my engineering curriculum, you’ll find me designing marketing materials for Reitz Union Board Entertainment. As Lead Marketing Designer, I create fliers and videos for the student run entertainment board that plans free events 7 days a week. Check us out! 
					p When I’m not fiddling around with Illustrator and coding, I like to enjoy a nice cup of coffee and a movie. Around Gainesville, you’ll find me searching for that perfect slice of pizza, hanging out at cafes, catching a show at the Atlantic or enjoying a new, arthouse film at the Hippodrome Theatre.
					p After college, I hope to build off my experiences and passions as a Front End Developer in the tech industry.
					p I'd love to chat!
		section.l-resume
			.wrapper
				.l-resume--title-bar
					.l-resume--title
						h1 R&eacute;sum&eacute; 
					.l-resume--download
						button.btn.btn--primary 
							i.icon-download 
							| Download
				.l-resume--column
					.l-resume--education
						h1 Education
						h4
							span.major BS in Digital Arts &amp; Sciences Engineering 
							br
							span.minor Minor in Mass Communications
							br
							|	University of Florida | Gainesville, FL
							br
							|	2010 - Present
					.l-resume--tech
						h1 Tech Experience
						h4
							span Front End Developer
							br
							|	Gather | Atlanta, GA
							br
							|	May 2013 - August 2013
						h4
							span Web Developer
							br
							|	Department of Facilites Planning &amp; Construction | Gainesville, FL
							br
							|	November 2012 - Present
						h4
							span Software Developer Intern
							br
							|	SpareFoot.com | Austin,TX
							br
							|	May 2012 - August 2012
					.l-resume--design
						h1 Design Experience
						h4
							span Lead Marketing Designer
							br
							|	RUB Entertainment | Gainesville, FL
							br
							|	May 2013 - Present
						h4
							span Graphic Designer for Special Events Committee
							br
							|	RUB Entertainment | Gainesville, FL
							br
							|	August 2011 - May 2012
				.l-resume--column
					.l-resume--leadership
						h1 Leadership Experience
						h4
							span Director of Arts Committee
							br
							|	RUB Entertainment | Gainesville, FL
							br
							|	May 2012 - May 2013
						h4
							span Residential Counselor 
							br
							|	Duke TIP Summer Studies Program | Boone, NC
							br
							|	June 2011 - August 2011
					.l-resume--skills
						h1 Skills
						p.
							HTML, CSS, Javascript, PHP, Java, JQuery, Coffeescript, SASS, Stylus, Jade, Grunt, Digital Photography, Adobe Illustrator, 
							Adobe Photoshop, Adobe Premiere Pro, Adobe InDesign, Autodesk Maya, Microsoft Office, Event Planning, Trumpet
					.l-resume--projects
						h1 Current Projects
						h4
							span Teaching myself more AngularJS and Node.js
							br
							| Never stop learning, even when school's out.
						h4
							span Playing with some APIs
							br
							|	More to be announced

							
		section.l-connect
			.wrapper
				.l-connect--title
					h1 Let's Connect!
				.l-connect--links
					ul
						li
							a(href="http://www.twitter.com/jordanfine", target="_blank")
								i.icon-twitter
						li
							a(href="http://www.facebook.com/jordanfine6", target="_blank")
								i.icon-facebook
						li
							a(href="http://plus.google.com/111254828812712058992", target="_blank")
								i.icon-google-plus
						li
							a(href="http://www.linkedin.com/in/jordanfine", target="_blank")
								i.icon-linkedin
						li
							a(href="http://github.com/jordanfine", target="_blank")
								i.icon-github
						li
							a(href="http://www.last.fm/user/jordanspudfine", target="_blank")
								i.icon-lastfm
						li
							a(href="http://foursquare.com/jordanfine", target="_blank")
								i.icon-foursquare
						li
							a(href="mailto:jordan6fine@gmail.com?subject=Hey Jordan&body=Cool website!")
								i.icon-mail
		footer
			.wrapper
				.footer-madein
					h3
						|  Made with  
						i.icon-heart
						|	in the USA
				.footer-brand
					h3 Jordan Fine, 2013

		script(type='text/javascript', src="public/vendor/v2.0.4/backstretch.js")
		script(type='text/javascript', src="public/js/portfolio.js")
