!!! 5
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content ="IE=edge,chrome=1")
		title Jordan Fine
		meta(name="viewport", content="width=device-width")
		script(type='text/javascript' ,src="http://code.jquery.com/jquery.js")
		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
		link(href='public/css/portfolio.css',rel="stylesheet", media="screen")


	body
		span.l-top.hide
			i.icon-arrow-up
		section#splash
			.l-splash
				.wrapper
					.l-splash--nav
						.brand
							h1 Jordan Fine
						.nav
							ul
								li
									a#header-about(href="#") About
								li 
									a#header-portfolio(href="#") Portfolio
								li 
									a#header-resume(href="#") R&eacute;sum&eacute;
								li 
									a#header-connect(href="#") Connect
					.l-splash--tagline
						.profile
							.profile--image
						.tagline
							h1 I'm a front end web developer with a passion for design.
							button#learn-more.btn.btn--primary Learn More
		section#about
			.l-about
				.wrapper
					.l-about--someimage
					.l-about--copy
						h1 About me
						p Hey! My name is Jordan Fine. I’m currently going into my fourth year at the University of Florida, studying Digital Arts &amp; Sciences Engineering with a minor in Mass Communications. 
						p Beyond my engineering curriculum, you’ll find me designing marketing materials for Reitz Union Board Entertainment. As Lead Marketing Designer, I create fliers and videos for the student run entertainment board that plans free events 7 days a week. Check us out! 
						p When I’m not fiddling around with Illustrator and coding, I like to enjoy a nice cup of coffee and a movie. Around Gainesville, you’ll find me searching for that perfect slice of pizza, hanging out at cafes, catching a show at the Atlantic or enjoying a new, arthouse film at the Hippodrome Theatre.
						p After college, I hope to build off my experiences and passions as a Front End Developer in the tech industry.
						p I'd love to chat!

		section#portfolio
			.l-portfolio
				.wrapper
					.l-portfolio--title
						h1 Portfolio
					.l-portfolio--media
						.l-portfolio--right
							h1  
								span Gather
							p Mustache you probably haven't heard of them ennui messenger bag leggings salvia, authentic cardigan. Portland shabby chic PBR salvia mlkshk pug lo-fi. Tattooed aesthetic High Life chia gluten-free, tofu Wes Anderson wayfarers flexitarian pork belly pour-over Banksy street art. Farm-to-table Marfa fingerstache, Etsy +1 organic squid Thundercats Neutra yr. Chia skateboard lomo next level leggings YOLO. Cornhole sartorial church-key pour-over fixie, VHS Shoreditch four loko jean shorts. Viral umami Marfa chillwave.
							a.btn.btn--primary(href="http://www.gatherhere.com", target="_blank") Visit Gather
						.l-portfolio--rightimage
							.image
								img(src="public/img/gather-transaction.png")
					.l-portfolio--media
						.l-portfolio--leftimage
							.image
								img(src="public/img/mapflix.png")
						.l-portfolio--left
							h1  
								span MapFlix
							p Mustache you probably haven't heard of them ennui messenger bag leggings salvia, authentic cardigan. Portland shabby chic PBR salvia mlkshk pug lo-fi. Tattooed aesthetic High Life chia gluten-free, tofu Wes Anderson wayfarers flexitarian pork belly pour-over Banksy street art. Farm-to-table Marfa fingerstache, Etsy +1 organic squid Thundercats Neutra yr. Chia skateboard lomo next level leggings YOLO. Cornhole sartorial church-key pour-over fixie, VHS Shoreditch four loko jean shorts. Viral umami Marfa chillwave.
							a.btn.btn--primary(href="http://www.hellopug.com/netflix", target="_blank") Visit MapFlix
							a.btn.btn--secondary(href="public/files/jordanfine.ppt", target="_top") View Final Presentation
					.l-portfolio--media
						.l-portfolio--right
							h1  
								span Clue
							p Mustache you probably haven't heard of them ennui messenger bag leggings salvia, authentic cardigan. Portland shabby chic PBR salvia mlkshk pug lo-fi. Tattooed aesthetic High Life chia gluten-free, tofu Wes Anderson wayfarers flexitarian pork belly pour-over Banksy street art. Farm-to-table Marfa fingerstache, Etsy +1 organic squid Thundercats Neutra yr. Chia skateboard lomo next level leggings YOLO. Cornhole sartorial church-key pour-over fixie, VHS Shoreditch four loko jean shorts. Viral umami Marfa chillwave.
							a.btn.btn--primary(href="https://github.com/jordanfine/clue", target="_top") View on Github
							a.btn.btn--secondary(href="public/files/manual.pdf", target="_top") View User Manual
						.l-portfolio--rightimage
							.image
								img(src="public/img/gather-transaction.png")
					.l-portfolio--media
						.l-portfolio--leftimage
							.image
								img(src="public/img/da.png")
						.l-portfolio--left
							h1  
								span Damage Assessment Portal
							p Mustache you probably haven't heard of them ennui messenger bag leggings salvia, authentic cardigan. Portland shabby chic PBR salvia mlkshk pug lo-fi. Tattooed aesthetic High Life chia gluten-free, tofu Wes Anderson wayfarers flexitarian pork belly pour-over Banksy street art. Farm-to-table Marfa fingerstache, Etsy +1 organic squid Thundercats Neutra yr. Chia skateboard lomo next level leggings YOLO. Cornhole sartorial church-key pour-over fixie, VHS Shoreditch four loko jean shorts. Viral umami Marfa chillwave.
					.l-portfolio--media
						.l-portfolio--right
							h1  
								span Fruitvale Station
							p Mustache you probably haven't heard of them ennui messenger bag leggings salvia, authentic cardigan. Portland shabby chic PBR salvia mlkshk pug lo-fi. Tattooed aesthetic High Life chia gluten-free, tofu Wes Anderson wayfarers flexitarian pork belly pour-over Banksy street art. Farm-to-table Marfa fingerstache, Etsy +1 organic squid Thundercats Neutra yr. Chia skateboard lomo next level leggings YOLO. Cornhole sartorial church-key pour-over fixie, VHS Shoreditch four loko jean shorts. Viral umami Marfa chillwave.
							a.btn.btn--primary(href="https://www.facebook.com/rubentertainment", target="_top") Follow RUB Entertainment
						.l-portfolio--rightimage
							.image
								img(src="public/img/fruitvale.png")
					.l-portfolio--media
						.l-portfolio--center
							h1 RUB Promotional Video Montage
							p Mustache you probably haven't heard of them ennui messenger bag leggings salvia, authentic cardigan. Portland shabby chic PBR salvia mlkshk pug lo-fi. Tattooed aesthetic High Life chia gluten-free, tofu Wes Anderson wayfarers flexitarian pork belly pour-over Banksy street art. Farm-to-table Marfa fingerstache, Etsy +1 organic squid Thundercats Neutra yr. Chia skateboard lomo next level leggings 
							iframe(width="640", height="480", src="//www.youtube.com/embed/37PSX0UCOUM?rel=0", frameborder="0", allowfullscreen)
		
		section#resume
			.l-resume
				.wrapper
					.l-resume--title-bar
						.l-resume--title
							h1 R&eacute;sum&eacute; 
						.l-resume--download
							a.btn.btn--primary(href="public/files/resume_jordanfine.pdf", target="_blank")
								i.icon-download 
								| Download
					.l-resume--column
						.l-resume--education
							h1 Education
							h4
								span.major BS in Computer Science Engineering 
								br
								span.focus with a focus in Digital Arts &amp; Sciences Engineering 
								br
								span.minor Minor in Mass Communications
								br
								|	University of Florida | Gainesville, FL
								br
								|	2010 - Present
						.l-resume--tech
							h1 Tech Experience
							h4
								span.company Gather 
								span.location - Atlanta, GA
								br
								span.job Front End Web Developer &amp; Designer
								br
								|	May 2013 - August 2013, October 2013 - Present
							h4
								span.company TapShield 
								span.location - Gainesville, FL
								br
								span.job Front End Web Developer
								br
								|	August 2013 - October 2013
							h4
								span.company Department of Facilites Planning &amp; Construction 
								span.location - Gainesville, FL
								br
								span.job Web Developer &amp; Designer
								br
								|	November 2012 - May 2013
							h4
								span.company SpareFoot
								span.location - Austin, TX
								br
								span.job Web Developer &amp; Designer
								br
								|	May 2012 - August 2012
						.l-resume--design
							h1 Design Experience
							h4
								span Lead Marketing Designer
								br
								|	RUB Entertainment | Gainesville, FL
								br
								|	May 2013 - Present
							h4
								span Graphic Designer for Special Events Committee
								br
								|	RUB Entertainment | Gainesville, FL
								br
								|	August 2011 - May 2012
					.l-resume--column
						.l-resume--leadership
							h1 Leadership Experience
							h4
								span Director of Arts Committee
								br
								|	RUB Entertainment | Gainesville, FL
								br
								|	May 2012 - May 2013
							h4
								span Residential Counselor 
								br
								|	Duke TIP Summer Studies Program | Boone, NC
								br
								|	June 2011 - August 2011
						.l-resume--skills
							h1 Skills
							h3 Languages &amp; Tools
							p.
								HTML5, CSS3, Javascript/Coffeescript, jQuery, AngularJs, Jade/HAML, Stylus/LESS/SASS, Grunt, RequireJS, Java, Git, MATLAB, Processing, Windows, Mac OS X, Linux
							h3 UX &amp; Design
							p.
								Balsamiq Wireframes, Pilot Testing, User Studies, Interface Design, User Research, Photoshop, Illustrator, Fireworks, InDesign, Premiere Pro, Maya
							h3 Other
							p.
								Trumpet, Event Planning, Social Media, Digital &amp; Film Photography

								
		section#connect
			.l-connect
				.wrapper
					.l-connect--title
						h1 Let's Connect!
					.l-connect--links
						ul
							li
								a(href="http://www.twitter.com/jordanfine", target="_blank")
									i.icon-twitter
							li
								a(href="http://www.facebook.com/jordanfine6", target="_blank")
									i.icon-facebook
							li
								a(href="http://plus.google.com/111254828812712058992", target="_blank")
									i.icon-google-plus
							li
								a(href="http://www.linkedin.com/in/jordanfine", target="_blank")
									i.icon-linkedin
							li
								a(href="http://github.com/jordanfine", target="_blank")
									i.icon-github
							li
								a(href="http://www.last.fm/user/jordanspudfine", target="_blank")
									i.icon-lastfm
							li
								a(href="http://foursquare.com/jordanfine", target="_blank")
									i.icon-foursquare
							li
								a(href="mailto:jordan6fine@gmail.com?subject=Hey Jordan&body=Cool website!")
									i.icon-mail
		footer
			.footer-container
				.wrapper
					.footer-madein
						h3
							|  Made with  
							i.icon-heart
							|	in the USA
					.footer-brand
						h3 Jordan Fine, 2013
		//-TRACKIN YO ASS-//
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42843616-1', 'jordanfine.github.io');
			ga('send', 'pageview');
		script(type='text/javascript', src="public/vendor/v2.0.4/backstretch.js")
		script(type='text/javascript', src="public/js/portfolio.js")
