body,h1,h2,h3,h4,h5,h6,p,li,a{margin:5px 0;font-family:'Lato',sans-serif;font-weight:400;line-height:1.2;color:inherit;text-rendering:optimizeLegibility;smallfont-weight:normal;line-height:1}
a{color:#fff;text-decoration:none}
p{line-height:1.2;padding:5px 0}
.hide{display:none}
@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
[data-icon]:before{font-family:'icomoon';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-arrow-up,.icon-linkedin,.icon-github,.icon-twitter,.icon-facebook,.icon-google-plus,.icon-mail,.icon-lastfm,.icon-foursquare,.icon-arrow-up-right,.icon-arrow-right,.icon-arrow-down-right,.icon-arrow-left,.icon-arrow-down,.icon-arrow-down-left,.icon-arrow-up-left,.icon-box-add,.icon-download,.icon-download-2,.icon-cloud-download,.icon-download-3,.icon-arrow-up--upload,.icon-heart{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-arrow-up:before{content:"\e000"}
.icon-linkedin:before{content:"\e004"}
.icon-github:before{content:"\e003"}
.icon-twitter:before{content:"\e001"}
.icon-facebook:before{content:"\e002"}
.icon-google-plus:before{content:"\e005"}
.icon-mail:before{content:"\e006"}
.icon-lastfm:before{content:"\e007"}
.icon-foursquare:before{content:"\e008"}
.icon-arrow-up-right:before{content:"\e009"}
.icon-arrow-right:before{content:"\e00a"}
.icon-arrow-down-right:before{content:"\e00b"}
.icon-arrow-left:before{content:"\e00c"}
.icon-arrow-down:before{content:"\e00d"}
.icon-arrow-down-left:before{content:"\e00e"}
.icon-arrow-up-left:before{content:"\e00f"}
.icon-box-add:before{content:"\e010"}
.icon-download:before{content:"\e011"}
.icon-download-2:before{content:"\e012"}
.icon-cloud-download:before{content:"\e013"}
.icon-download-3:before{content:"\e014"}
.icon-arrow-up--upload:before{content:"\e01d"}
.icon-heart:before{content:"\e015"}
body{width:100%;*zoom:1;}
body:before,body:after{content:"";display:table}
body:after{clear:both}
.fixed-container,.wrapper{width:960px;margin:0 auto;overflow:hidden}
.fluid-container,.l-header__inner,.l-splash--nav{min-width:960px;max-width:1160px;*width:960px;margin:0 auto;overflow:hidden}
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],/* 1 */,input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
.l-header{*zoom:1;height:50px}
.l-header:before,.l-header:after{content:"";display:table}
.l-header:after{clear:both}
.l-header__inner{padding:2px;color:#fff;}
.l-header__inner .brand{float:left;margin-right:25px;margin-left:20px}
.l-header__inner .nav{float:right;margin-right:20px;}
.l-header__inner .nav ul{list-style:none;}
.l-header__inner .nav ul li{float:left;padding:0 20px}
footer{background:#2c3e50;color:#ecf0f2;padding:10px;}
footer h3{font-weight:200}
.footer-madein{float:left;}
.footer-madein i{color:#e74c3c}
.footer-brand{float:right}
.l-splash{height:800px;background-color:#3498db}
.l-splash--nav{*zoom:1;padding:2px;color:#fff;}
.l-splash--nav:before,.l-splash--nav:after{content:"";display:table}
.l-splash--nav:after{clear:both}
.l-splash--nav .brand{float:left;margin-right:25px;margin-left:20px}
.l-splash--nav .nav{float:right;margin-right:20px;}
.l-splash--nav .nav ul{list-style:none;margin:0;}
.l-splash--nav .nav ul li{float:left;padding:0 20px;line-height:75px;}
.l-splash--nav .nav ul li a{-webkit-transition:color linear .3s;-moz-transition:color linear .3s;-o-transition:color linear .3s;-ms-transition:color linear .3s;transition:color linear .3s}
.l-splash--nav .nav ul li a:hover{color:#2c3e50}
.l-splash--tagline{text-align:center;color:#fff;display:table-cell;vertical-align:middle;min-height:500px;margin:0 auto;width:960px;padding-top:100px;height:500px;}
.l-splash--tagline .profile{padding:50px 0;}
.l-splash--tagline .profile .profile--image{position:relative;width:150px;height:150px;margin:0 auto;-webkit-border-radius:150px;border-radius:150px;background:url("../img/profile.png");-webkit-background-size:150px;-moz-background-size:150px;background-size:150px;}
.l-splash--tagline .profile .profile--image:hover{background:url("../img/profile-pug.png");-webkit-background-size:150px;-moz-background-size:150px;background-size:150px}
.l-splash--tagline .profile .profile--image span{position:absolute;top:64px;left:0;width:100%;font-size:24px;text-align:center}
.l-splash--tagline .tagline h1{font-weight:100}
.wrapper{*zoom:1;height:100%}
.wrapper:before,.wrapper:after{content:"";display:table}
.wrapper:after{clear:both}
.l-about{height:800px;background:#e74c3c}
.l-about--someimage{display:inline;float:left;overflow:hidden;width:540px;margin:0 10px;*width:540px -correction;*margin:0 10px -correction;*zoom:1;}
.l-about--someimage:before,.l-about--someimage:after{content:"";display:table}
.l-about--someimage:after{clear:both}
.l-about--copy{display:inline;float:left;overflow:hidden;width:380px;margin:0 10px;*width:380px -correction;*margin:0 10px -correction;*zoom:1;float:right;color:#fff;padding:50px 0;}
.l-about--copy:before,.l-about--copy:after{content:"";display:table}
.l-about--copy:after{clear:both}
.l-about--copy h1{font-size:4em;font-weight:600}
.l-about--copy p{font-weight:300}
.l-portfolio{height:2400px;background:#2980b9}
.l-portfolio--title{display:inline;float:left;overflow:hidden;width:940px;margin:0 10px;*width:940px -correction;*margin:0 10px -correction;}
.l-portfolio--title h1{color:#fff;font-size:4em;font-weight:600;}
.l-portfolio--title h1 span{font-weight:200}
.l-portfolio--gatherimage{display:inline;float:left;overflow:hidden;width:420px;margin:0 10px;*width:420px -correction;*margin:0 10px -correction;*zoom:1;height:800px;position:absolute;overflow:hidden;top:0;left:0;-webkit-transform:translate3d(0,1700px,0);-moz-transform:translate3d(0,1700px,0);-o-transform:translate3d(0,1700px,0);-ms-transform:translate3d(0,1700px,0);transform:translate3d(0,1700px,0);margin:0;}
.l-portfolio--gatherimage:before,.l-portfolio--gatherimage:after{content:"";display:table}
.l-portfolio--gatherimage:after{clear:both}
.l-portfolio--gatherimage .image{-webkit-transform:translate3d(700px,100px,0);-moz-transform:translate3d(700px,100px,0);-o-transform:translate3d(700px,100px,0);-ms-transform:translate3d(700px,100px,0);transform:translate3d(700px,100px,0);position:absolute;-webkit-transition:-webkit-transform .3s linear;-moz-transition:-moz-transform .3s linear;-o-transition:-o-transform .3s linear;-ms-transition:-ms-transform .3s linear;transition:transform .3s linear;}
.l-portfolio--gatherimage .image:hover{-webkit-transform:translate3d(300px,100px,0);-moz-transform:translate3d(300px,100px,0);-o-transform:translate3d(300px,100px,0);-ms-transform:translate3d(300px,100px,0);transform:translate3d(300px,100px,0)}
.l-portfolio--gather{display:inline;float:left;overflow:hidden;width:500.00000000000006px;margin:0 10px;*width:500.00000000000006px -correction;*margin:0 10px -correction;*zoom:1;float:left;color:#fff;padding:0 0 50px 0;height:500px;-webkit-transform:translateZ(20px);-moz-transform:translateZ(20px);-o-transform:translateZ(20px);-ms-transform:translateZ(20px);transform:translateZ(20px);}
.l-portfolio--gather:before,.l-portfolio--gather:after{content:"";display:table}
.l-portfolio--gather:after{clear:both}
.l-portfolio--gather h1{font-size:4em;font-weight:600;}
.l-portfolio--gather h1 span{font-weight:200}
.l-portfolio--gather p{font-weight:300}
.l-portfolio--hciimage{display:inline;float:left;overflow:hidden;width:420px;margin:0 10px;*width:420px -correction;*margin:0 10px -correction;*zoom:1;height:800px;position:absolute;overflow:hidden;top:0;left:0;-webkit-transform:translate3d(0,2300px,0);-moz-transform:translate3d(0,2300px,0);-o-transform:translate3d(0,2300px,0);-ms-transform:translate3d(0,2300px,0);transform:translate3d(0,2300px,0);margin:0;}
.l-portfolio--hciimage:before,.l-portfolio--hciimage:after{content:"";display:table}
.l-portfolio--hciimage:after{clear:both}
.l-portfolio--hciimage .image{-webkit-transform:translate3d(-350px,50px,0);-moz-transform:translate3d(-350px,50px,0);-o-transform:translate3d(-350px,50px,0);-ms-transform:translate3d(-350px,50px,0);transform:translate3d(-350px,50px,0);position:absolute;-webkit-transition:-webkit-transform .3s linear;-moz-transition:-moz-transform .3s linear;-o-transition:-o-transform .3s linear;-ms-transition:-ms-transform .3s linear;transition:transform .3s linear;}
.l-portfolio--hciimage .image:hover{-webkit-transform:translate3d(0,50px,0);-moz-transform:translate3d(0,50px,0);-o-transform:translate3d(0,50px,0);-ms-transform:translate3d(0,50px,0);transform:translate3d(0,50px,0)}
.l-portfolio--hci{display:inline;float:left;overflow:hidden;width:500.00000000000006px;margin:0 10px;*width:500.00000000000006px -correction;*margin:0 10px -correction;*zoom:1;float:right;color:#fff;padding:50px 0;height:600px;}
.l-portfolio--hci:before,.l-portfolio--hci:after{content:"";display:table}
.l-portfolio--hci:after{clear:both}
.l-portfolio--hci h1{font-size:4em;font-weight:600;}
.l-portfolio--hci h1 span{font-weight:200}
.l-portfolio--hci p{font-weight:300}
.l-portfolio--clueimage{display:inline;float:left;overflow:hidden;width:420px;margin:0 10px;*width:420px -correction;*margin:0 10px -correction;*zoom:1;height:800px;position:absolute;overflow:hidden;top:0;left:0;-webkit-transform:translate3d(0,1700px,0);-moz-transform:translate3d(0,1700px,0);-o-transform:translate3d(0,1700px,0);-ms-transform:translate3d(0,1700px,0);transform:translate3d(0,1700px,0);margin:0;}
.l-portfolio--clueimage:before,.l-portfolio--clueimage:after{content:"";display:table}
.l-portfolio--clueimage:after{clear:both}
.l-portfolio--clueimage .image{-webkit-transform:translate3d(700px,100px,0);-moz-transform:translate3d(700px,100px,0);-o-transform:translate3d(700px,100px,0);-ms-transform:translate3d(700px,100px,0);transform:translate3d(700px,100px,0);position:absolute;-webkit-transition:-webkit-transform .3s linear;-moz-transition:-moz-transform .3s linear;-o-transition:-o-transform .3s linear;-ms-transition:-ms-transform .3s linear;transition:transform .3s linear;}
.l-portfolio--clueimage .image:hover{-webkit-transform:translate3d(300px,100px,0);-moz-transform:translate3d(300px,100px,0);-o-transform:translate3d(300px,100px,0);-ms-transform:translate3d(300px,100px,0);transform:translate3d(300px,100px,0)}
.l-portfolio--clue{display:inline;float:left;overflow:hidden;width:500.00000000000006px;margin:0 10px;*width:500.00000000000006px -correction;*margin:0 10px -correction;*zoom:1;float:left;color:#fff;padding:0 0 50px 0;height:500px;-webkit-transform:translateZ(20px);-moz-transform:translateZ(20px);-o-transform:translateZ(20px);-ms-transform:translateZ(20px);transform:translateZ(20px);}
.l-portfolio--clue:before,.l-portfolio--clue:after{content:"";display:table}
.l-portfolio--clue:after{clear:both}
.l-portfolio--clue h1{font-size:4em;font-weight:600;}
.l-portfolio--clue h1 span{font-weight:200}
.l-portfolio--clue p{font-weight:300}
.l-resume{height:1000px;background:#ecf0f2}
.l-resume--title-bar{display:inline;float:left;overflow:hidden;width:940px;margin:0 10px;*width:940px -correction;*margin:0 10px -correction;}
.l-resume--title-bar .l-resume--title{vertical-align:middle;display:inline-block;}
.l-resume--title-bar .l-resume--title h1{color:#2c3e50;font-size:4em;font-weight:600;float:left}
.l-resume--title-bar .l-resume--download{margin:0 25px;vertical-align:middle;display:inline-block}
.l-resume--column{display:inline;float:left;overflow:hidden;width:460px;margin:0 10px;*width:460px -correction;*margin:0 10px -correction;float:left;}
.l-resume--column h4{font-weight:300;line-height:1.2;padding:5px 0;}
.l-resume--column h4 span{font-weight:500}
.l-resume--column h4 .minor{font-weight:300;font-style:italic}
.l-resume--column p{font-weight:300}
.l-connect{height:600px;background:#2c3e50}
.l-connect--title{display:inline;float:left;overflow:hidden;width:940px;margin:0 10px;*width:940px -correction;*margin:0 10px -correction;text-align:center;margin-top:50px;}
.l-connect--title h1{color:#ecf0f2;font-size:4em;font-weight:600}
.l-connect--links{display:inline;float:left;overflow:hidden;width:940px;margin:0 10px;*width:940px -correction;*margin:0 10px -correction;margin-top:50px;}
.l-connect--links ul{*zoom:1;width:100%;list-style:none;}
.l-connect--links ul:before,.l-connect--links ul:after{content:"";display:table}
.l-connect--links ul:after{clear:both}
.l-connect--links ul li{display:inline;float:left;overflow:hidden;width:86.66666666666666px;margin:0 10px;*width:86.66666666666666px -correction;*margin:0 10px -correction;*zoom:1;height:100px;position:relative;float:left;}
.l-connect--links ul li:before,.l-connect--links ul li:after{content:"";display:table}
.l-connect--links ul li:after{clear:both}
.l-connect--links ul li i{position:absolute;color:#ecf0f2;font-size:4em;text-align:center;opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";-webkit-transition:all linear .2s;-moz-transition:all linear .2s;-o-transition:all linear .2s;-ms-transition:all linear .2s;transition:all linear .2s;-webkit-transform:translateY(25px);-moz-transform:translateY(25px);-o-transform:translateY(25px);-ms-transform:translateY(25px);transform:translateY(25px)}
.l-connect--links ul li i:hover{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.section{height:500px}
.btn{display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:4px 12px;margin-bottom:0;font-size:18px;line-height:2.2;text-align:center;vertical-align:middle;cursor:pointer;text-transform:uppercase;-webkit-border-radius:4px;border-radius:4px;font-weight:300;border:4px solid transparent;color:#000;background:$btn-default-background;}
.btn:hover,.btn:focus,.btn.disabled{color:#333;background-color:#d94738;border-bottom:4px solid #d94738}
.btn:active,.btn.active{border-top:4px solid #d94738;border-bottom:4px solid transparent;background-color:$btn-default-background;background:$btn-default-background}
.btn:hover,.btn:focus{color:#101010;text-decoration:none;background:$btn-default-background}
.btn:disabled,.btn.disabled{opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}
.btn,.btn:hover{text-decoration:none}
.btn:active,.btn:focus{outline:none}
.btn--primary{border:4px solid transparent;color:#fff;background:#e74c3c;}
.btn--primary:hover,.btn--primary:focus,.btn--primary.disabled{color:#333;background-color:#d94738;border-bottom:4px solid #d94738}
.btn--primary:active,.btn--primary.active{border-top:4px solid #d94738;border-bottom:4px solid transparent;background-color:#e74c3c;background:#e74c3c}
.btn--primary:hover,.btn--primary:focus{color:#fff;text-decoration:none;background:#e74c3c}
.btn--primary:disabled,.btn--primary.disabled{opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}
.l-top{position:fixed;right:25px;top:25px;background:#000;opacity:.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";color:#fff;padding:20px;z-index:9999;-webkit-border-radius:4px;border-radius:4px;cursor:pointer;}
.l-top i{font-size:2em}
