h1, h2, h3, h4, h5, h6
	margin: 5px 0
	font-family: 'Lato', sans-serif
	font-weight: $headings-font-weight
	line-height: $headings-line-height
	color: inherit
	text-rendering: optimizeLegibility
	small
	font-weight: normal
	line-height: 1
