.l-about
	height: 800px
	background: $red

.l-about--someimage
	column(7)
	clearfix()

	.image
		padding-top: 200px

		img
			width: 100%

.l-about--copy
	column(5)
	clearfix()
	float: right
	color: white
	padding: 50px 0

	h1
		font-size: 4em
		font-weight: 600
	p
		font-weight: 300