.l-connect
	height: 600px
	background: $blueDarker

.l-connect--title
	column(12)
	text-align: center
	margin-top: 50px
	h1
		color: #ecf0f2
		font-size: 4em
		font-weight: 600

.l-connect--links
	column(12)
	margin-top: 50px

	ul
		clearfix()
		width: 100%
		list-style: none
		li
			column(12/9)
			clearfix()
			height: 100px
			position: relative
			float: left
			i
				position: absolute
				color: #ecf0f2
				font-size: 4em
				text-align: center
				opacity: 0.5
				transition: all linear 0.2s
				transform: translateY(25px)

			i:hover
				opacity: 1
				transform: translateY(0px)