footer
	width: 100%
	background: #2c3e50
	color: #ecf0f2
	padding: 20px 
	h3
		font-weight: 200 

.footer-container
	@extend .fluid-container


.footer-madein
	float: left
	i
		color: #e74c3c

.footer-brand
	float: right
