.l-portfolio
	padding: 50px 0
	background: $blueDark
	//width: 100%

	a.btn
		margin-top: 15px

.l-portfolio--title
	column(12)
	h1
		color: $white
		font-size: 4em
		font-weight: 600
		span
			font-weight: 200

.l-portfolio--rightimage
	column(5.5)
	clearfix()
	float: left
	//position: absolute
	overflow: hidden
	//top: 0
	//left: 0
	//transform: translate3d(0px, 1700px,0)
	margin: 0 

	.image
		margin-top: 0px

	.image img 
		width: 100%
	// 	transform: translate3d(700px,100px,0px)
	// 	position: absolute
	// 	transition: transform 0.3s linear

	// 	&:hover
	// 		transform: translate3d(300px,100px,0px)

.l-portfolio--media
	@extend .fluid-container
	clearfix()
	padding: 50px 0

	h1
		font-size: 4em
		font-weight: 600
		margin-top: 0
		span
			font-weight: 200
	p
		font-weight: 300

.l-portfolio--right
	column(6.5)
	clearfix()
	float: left
	color: white

	p
		margin-right: 50px

.l-portfolio--center
	column(12)
	clearfix()
	margin: 0 auto
	color: white
	text-align: center

	h1
		font-size: 4em
		font-weight: 200
	p
		margin: 15px



.l-portfolio--leftimage
	column(5.5)
	clearfix()
	//position: absolute
	overflow: hidden
	//top: 0
	//left: 0
	//transform: translate3d(0px, 2300px,0)
	margin: 0 

	
	.image img
		width: 100%

	//	transform: translate3d(-350px,50px,0px)
	//	position: absolute
	//	transition: transform 0.3s linear

	//	&:hover
	//		transform: translate3d(0px,50px,0px)

.l-portfolio--left
	column(6.5)
	clearfix()
	margin: -5px
	float: right
	color: white
	padding: 0

	h1
		font-size: 4em
		font-weight: 600
		span
			font-weight: 200
	p
		font-weight: 300
		margin-right: 25px

.l-portfolio--clueimage
	column(5.5)
	clearfix()
	height: 800px
	//position: absolute
	//overflow: hidden
	//top: 0
	//left: 0
	//transform: translate3d(0px, 1700px,0)
	margin: 0 

	.image
		//transform: translate3d(700px,100px,0px)
		//position: absolute
		//transition: transform 0.3s linear

		//&:hover
		//	transform: translate3d(300px,100px,0px)



.l-portfolio--clue
	column(6.5)
	clearfix()
	float: left
	color: white
	padding: 0 0 50px 0
	transform: translateZ(20px)

	h1
		font-size: 4em
		font-weight: 600
		span
			font-weight: 200
	p
		font-weight: 300