.l-portfolio
	height: 800px
	background: #2980b9


.l-portfolio--someimage
	column(5.5)
	clearfix()
	height: 100%

.l-portfolio--copy
	column(6.5)
	clearfix()
	float: left
	color: white
	padding: 50px 0

	h1
		font-size: 4em
		font-weight: 600
		span
			font-weight: 200
	p
		font-weight: 300