.l-resume
	height: 1000px
	background: $gray

.l-resume--title-bar
	column(12)

	.l-resume--title
		vertical-align: middle
		display: inline-block
		h1 
			color: #2c3e50
			font-size: 4em
			font-weight: 600
			float: left
	
	.l-resume--download
		margin: 0 25px
		vertical-align: middle
		display: inline-block

.l-resume--column
	column(6)
	float: left
	h4
		font-weight: 300
		line-height: 1.2
		padding: 5px 0
		span
			font-weight: 500
		.minor
			font-weight: 300
			font-style: italic
	p
		font-weight: 300