.l-header
	clearfix()
	height: 50px

.l-header__inner
	@extend .fluid-container
	padding: 2px
	color: $white

	.brand
		float: left
		margin-right: 25px
		margin-left: 20px

	.nav 
		float: right
		margin-right: 20px

		ul
			list-style: none

			li
				float: left
				padding: 0 20px

