.l-splash
	height: 800px
	background-color: #3498db
	

.l-splash--nav
	//@extend .fixed-container
	clearfix()
	padding: 2px
	color: $white

	.brand
		float: left
		margin-right: 25px
		margin-left: 20px

	.nav 
		float: right
		margin-right: 20px

		ul
			list-style: none
			margin: 0
			li
				float: left
				padding: 0 20px
				line-height: 75px

				a
					transition: color linear 0.3s
				a:hover
					color: #2c3e50
	

.l-splash--tagline
	text-align: center
	color: $white
	display: table-cell
	vertical-align: middle
	min-height: 500px
	margin: 0 auto
	width: 960px
	padding-top: 100px
	height: 500px

	.profile
		padding: 50px 0
		.profile--image
			position: relative
			width: 150px
			height: 150px
			margin: 0 auto
			border-radius: 150px
			background: url("../img/profile.png")
			background-size: 150px
			
			

			&:hover
				background: url("../img/profile-pug.png")
				background-size: 150px

			span
				position: absolute
				top: 64px
				left: 0
				width: 100%
				font-size: 24px
				text-align: center
	.tagline
		h1 
			font-weight: 100
