@import 'nib'
@import '_variables'

//BASE
@import "base/headings"
@import "base/display"

//GENERIC
@import "generic/grid"
@import "generic/normalize"

//LAYOUT
@import "layout/header"
@import "layout/splash"
@import "layout/_wrapper"
@import "layout/_about"
@import "layout/_portfolio"
@import "layout/_resume"
@import "layout/_connect"

//OBJECT
@import "object/section"
@import "object/_buttons"
@import "object/_top"