section > div
	@extend .fluid-container


section
	&#splash
		background: $blue
	&#about
		background: $red
	&#portfolio
		background: $blueDark
	&#resume
		background: $gray
	&#connect
		background: $blueDarker
