section > div
	@extend .fluid-container


section
	&#splash
		background: $blue

		div > .wrapper
			background: $blue
	&#about
		background: $red

		div > .wrapper
			background:$red
	&#portfolio
		background: $blueDark

		div > .wrapper
			background: $blueDark
	&#resume
		background: $gray

		div > .wrapper
			background: $gray

	&#connect
		background: $blueDarker

		div > .wrapper
			background: $blueDarker
