section > div
	//@extend .fluid-container
	width: 100%
	margin: 0 auto
	overflow: hidden

section
	&#splash
		background: $blue
	&#about
		background: $red
	&#portfolio
		background: $blueDark
	&#resume
		background: $gray
	&#connect
		background: $blueDarker
